@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --hover-background: #d1d1d1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --hover-background: #2c2c2c;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  padding: 2rem;
}
